.header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
}

.header-links {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    list-style: none;
}

.ootsy-home {
    text-decoration: none;
    font-size: 36px;
    color: #F1641E;
}

.search-container{
    width: 100%;
    position: relative;
}

.search {
    border-radius: 50px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: rgb(173, 173, 173);
    padding-left: 15px;
    background-color: rgb(241, 241, 241);
    border: 2px solid black;
}

.signin-container {
    position: relative;
    margin: 20px;
    width: 100px;
    height: 50px;
}

.sign-in {
    position: absolute;
    width: 75px;
    border: none;
    background: none;
    font-size: 13px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-out;
}

.sign-in:hover {
    background-color: rgb(232, 232, 232);
    border-radius: 25px;
    // padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.cart-li {
    position: relative;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-logo-container {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: -26px;
    left: -28px;
    border-radius: 30px;
    padding: 1px;
    transition: all 0.4s ease-out;
}

.cart-logo-container:hover {
    background-color: rgb(232, 232, 232);
    padding: 3px;
}

.down-arrow-icon {
    height: 15px;
    width: 15px;
}

.cart-logo {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    // border-radius: 30px;
}

.search-logo-container {
    // border: 1px solid black;
    position: absolute;
    right: -19px;
    top: 2px;
    width: 60px;
    height: 42px;
    border-radius: (0px 25px 25px 0 );
    transition: all 0.3s;
    // transform: translate(50%, -50%);
}

.search-logo {
    position: absolute;
    left: 10px;
    top: 9px;
    width: 25px;
}

.search-logo-container:hover {
    background-color: rgb(220, 220, 220);
}

.profile-dropdown{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 200px;
    height: 150px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgb(127, 127, 127);
    transform: translateX(-80%);
    border-radius: 10px;
    transform: translateY(100px);
}

// .profile-dropdown:hover .dropdown-content {
//     display: flex;
//     flex-direction: column;
// }

#show {
    display: flex;
    flex-direction: column;   
}

.profile-logo {
    width: 28px;
    height: 28px;
}

.orders-icon {
    width: 30px;
    height: 30px;
}

.sign-out-icon {
    width: 25px;
    height: 22px;
}

.logout-button {
    height: 50px;
    background: none;
    border: none;
    transform: translateX(10px);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.ootsy-logo-li {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-li {
    width: max(70%, 100px);
}

.email-container {
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 50px;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    padding-left: 15px;
}

.orders-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    padding-left: 15px;
}

.sign-out-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    display: flex;
    // justify-content: center;
    padding-left: 15px;
    align-items: center;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
}

.sign-out-container:hover {
    background-color: rgb(237, 237, 237);
}

.orders-container:hover {
    background-color: rgb(237, 237, 237);
}

.orders-container span {
    transform: translateX(10px);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.email-container span {
    transform: translateX(10px);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.email-container .profile-logo {
    width: 23px;
    height: 23px;
}

.dropdown-content > span {
    font-family: sans-serif;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
}