.header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.ootsy-home {
    text-decoration: none;
    font-size: 36px;
    color: #ff75aa;
}

.search-container{
    width: 100%;
    position: relative;
}

.search {
    border-radius: 50px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: rgb(173, 173, 173);
    padding-left: 15px;
    background-color: rgb(241, 241, 241);
    border: 2px solid black;
}

.signin-container {
    position: relative;
    margin: 20px;
    width: 100px;
    height: 50px;
}

.sign-in {
    position: absolute;
    width: 75px;
    border: none;
    background: none;
    font-size: 13px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-out;
}

.sign-in:hover {
    background-color: rgb(232, 232, 232);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.cart-li {
    position: relative;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-logo-container {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: -26px;
    left: -28px;
    border-radius: 30px;
    padding: 1px;
    transition: all 0.4s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.cart-logo-container:before {
    height: 10px;
    width: 50px;
    background: none;
    transition: all 200ms ease-out;
    content: "";
}
    
.cart-logo-container:hover:before {
    background-color: rgb(232, 232, 232);
    padding: 3px;
    height: 36px;
    width: 55px;
    content: "";
    display: block;
    border-radius: 15px;
}

.down-arrow-icon {
    height: 15px;
    width: 15px;
}

.cart-logo {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.search-logo-container {
    position: absolute;
    right: -19px;
    top: 2px;
    width: 60px;
    height: 42px;
    border-radius: (0px 25px 25px 0 );
    transition: all 0.3s;
}

.search-logo {
    position: absolute;
    left: 10px;
    top: 9px;
    width: 25px;
}

.search-logo-container:hover {
    background-color: rgb(220, 220, 220);
}

.profile-dropdown{
    height: 40px;
    width: 40px;
    margin-left: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-dropdown:before {
    background: none;
    position: absolute;
    transition: all 200ms ease-in-out;
    content: "";
    top: 12px;
    transform-origin: center;
    width: 23px;
    height: 15px;
    transform: scale(100%);
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

.profile-dropdown:hover:before {
    display: block;
    position: absolute;
    content: "";
    background-color: rgb(232, 232, 232);
    z-index: -1;
    border-radius: 5px;
    transform: scale(260%);
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    width: 200px;
    height: 150px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 6px 10px rgb(127, 127, 127);
    transform: translateX(-80%);
    border-radius: 10px;
    transform: translateY(100px);
}

.profile-logo {
    width: 28px;
    height: 28px;
}

.orders-icon {
    width: 30px;
    height: 30px;
}

.sign-out-icon {
    width: 25px;
    height: 22px;
}

.logout-button {
    height: 50px;
    background: none;
    border: none;
    transform: translateX(10px);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.ootsy-logo-li {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.search-li {
    width: 80%;
}

.email-container {
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    padding-left: 15px;
}

.orders-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    padding-left: 15px;
}

.sign-out-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
}

.sign-out-container:hover {
    background-color: rgb(237, 237, 237);
}

.orders-container:hover {
    background-color: rgb(237, 237, 237);
}

.orders-container span {
    transform: translateX(10px);
    font-family: sans-serif; 
    font-size: 14px;
    font-weight: 400;
}

.email-container span {
    transform: translateX(10px);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.email-container .profile-logo {
    width: 23px;
    height: 23px;
}

.dropdown-content > span {
    font-family: sans-serif;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
}

.categories-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100vw, 1350px);
    height: 35px;

    li {
        height: 80%;
        transition: 200ms;
        text-align: center;
    }

    .cat:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
        transform: translateY(15px);
    }
    
    .cat:hover:after {
        width: 100%;
        background: rgb(0, 0, 0);
    }

    li:first-of-type {
        margin-left: 15px;
    }

    li:last-of-type {
        margin-right: 15px;
    }

    .cat {
        text-decoration: none;
        color: #393939;
        font-size: 13px;
        font-family: sans-serif;
        width: 70px;
        height: 30px;
    }
}

@media screen and (max-width: 915px) {
    .categories-container {
        display: none;
    }

    .nav-bar {
        height: 85px;
        padding-left: 12px;
        padding-right: 12px;
    }

    
}

@media screen and (max-width: 600px) {
    .search-logo-container {
        display: none;
    }
}

.header-border {
    border-bottom: 2px solid #dedede;
    width: 100%;
    top: 96px;
}

.header-welcome {
    z-index: 2;
    font-size: 32px;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translateY(-30px);
}
